html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-color: white;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.container {
    background-color: green;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid black;
}